@import url(https://fonts.googleapis.com/css?family=Lato);

$black: black;
$red: #E5256F;
$frozen: #e9e9e9;
$highlight: #F5DF97;

$thick: 4px;
$thin: 1px;

$cellSize: 40px;

* {
  box-sizing: border-box;
  font-family: Lato, Helvetica, Arial, sans-serif;
}

.app {
  text-align: center;
}

.game-status {
  font-size: 18px;
  margin-bottom: 4px;
  .link {
    margin-left: 20px;
  }
}

.link, a {
  color: $red;
  text-decoration: underline;
  cursor: pointer;
}

.board {
  border: $thick solid $black;
  width: $cellSize * 9;
  height: $cellSize * 9;
  margin: auto;
  box-sizing: content-box;

  .cell {
    font-weight: 900;
    font-size: 24px;
    width: $cellSize;
    height: $cellSize;
    line-height: $cellSize;
    text-align: center;
    display: inline-block;
    border-right: $thin solid $black;
    border-bottom: $thin solid $black;

    &.frozen {
      background: $frozen;
    }
    &.highlighted {
      color: $red;
      background: lighten(#2F9FF7, 35%);
      font-weight: bold;
      &.frozen {
        background: lighten(#2F9FF7, 25%);
      }
    }

    &:nth-child(9n) {
      border-right: none;
    }
    &:nth-child(n+73) {
      border-bottom: none;
    }
    &:nth-child(3n) {
      border-right-width: $thick;
    }
    &:nth-child(n+19):not(:nth-child(n+28)) {
      border-bottom-width: $thick;
    }
    &:nth-child(n+46):not(:nth-child(n+55)) {
      border-bottom-width: $thick;
    }

    .text-field {
      width: 100%;
      height: 100%;
      vertical-align: top;
      border: none;
      background: $highlight;
      outline-color: $red;
      text-align: center;
      font-weight: 900;
      font-size: 24px;
    }

    position: relative;
    .no {
      position: absolute;
      color: $red;
      top: -2px;
      left: 9px;
      font-weight: 900;
      opacity: 0;
      // transform: scale(1.5);
      transition: all 0.5s ease;
      &.show {
        opacity: 1;
        // transform: scale(1);
        transition: all 0s;
      }
    }
  }
}
